.app{
  text-overflow: ellipsis;
  white-space: initial;
  overflow: hidden;
  word-wrap: break-word;
}
.flex-el {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card--style {
  padding: 2rem;
  max-height: 200px;
  min-width: 250px;
  border: 1px solid rgba(#e3e3e3, 0.15);
  border-radius: 1rem;
  box-shadow: #EFE8FD 0px 4px 30px 10px;
  background-color: white;
}
.title {
  text-align: center;
}

.peopleList--item {
  margin: 5%;
}

.active {
  text-decoration: underline;
  color: #81A9F7;
  font-weight: bold;
}
